<GridLayout rows="*" columns="*">
  <GridLayout rows="2*,3*,auto" horizontalAlignment="center">

    <GridLayout backgroundColor="red">
      <Image src="res://logo" width="350dp" verticalAlignment="top" height="200px"></Image>
    </GridLayout>

    <StackLayout row="1" class="" backgroundColor="blue">
      <StackLayout class="form">

        <StackLayout class="input-field" backgroundColor="red">
          <Label text="Option 2" class="label font-weight-bold m-b-5" ></Label>
          <TextField class="input" ></TextField>
          <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <StackLayout class="input-field" backgroundColor="blue">
          <Label text="Option 2" class="label font-weight-bold m-b-5" ></Label>
          <TextField class="input" ></TextField>
          <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

      </StackLayout>
      <Button text="Login" backgroundColor="purple"></Button>
    </StackLayout>


    <StackLayout row="2" verticalAlignment="bottom">
      <Label text="By joining you agree to our" class="f-14 colorWhite main-font text-center"></Label>
      <Label text="Terms & Privacy Policy" class="f-14 colorWhite main-font text-center"></Label>
    </StackLayout>

  </GridLayout>
</GridLayout>